.taskColumn {
	width: 100%;
	min-height: 30em;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.taskColumn h3 {
	text-align: center;
	font-size: 28px;
	margin: 0;
}
